
h1{
  text-align: center;
}

#board{
  display: grid;
  grid-template-columns: repeat(7, 50px);
  justify-content: center;
}

.subtitle{
  text-align: center;
  font-size: 15px;
}

h2 + p{
  text-align: center;
  color: grey;
  font-size: 10px;
}

div ~ p {
  text-align: center;
  text-decoration: underline;
}

div > img{
  width: 95%;
  height: 95%;
  margin: auto;
  border-radius: 50%;
  display:block;
  border: solid grey thin;
}

div > .cell{
  display: block;
  height: 50px;
  width: 50px;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 150%;
}

div > div > div{
  display: block;
  height: 95%;
  width: 95%;
  border-radius: 50%;
  border: solid grey thin;
  margin: auto;
  background-color: blue;
}

selector_9{
  background-color: black;
}

selector_10{
  border: solid yellow thin;
}
